.cinnaBody {
    background-color: #EFE8E3;
    text-align: center;
    padding: 20px;

}


.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 20px 20px 20px 20px;
    min-width: 220px;
    max-width: 420px;

    
}

.searchform {
    width: 400px;
    height: 35px;
    border-color: #332E3C;
    border-width: 2px;
    border-radius: 60px;
    padding: 10px 30px;
    background-color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color: #332E3C;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;


}

.search {
    font-family: 'Open Sans', sans-serif;
    padding: 50px 20px 20px 20px;
    


}

.searchbutton {
    border-radius: 60px;
    border-color: #332E3C;
    border-width: 2.5px;
    padding: 20px 60px 20px 60px;
    background-color: #EFE8E3;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    background-color: #332E3C;

}


h1 {
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(100deg, #B89685 10%, #EFE8E3 130%);
    margin: 0;
    font-size: 18;
    color: #332E3C;
    
}

img {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
}


p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #332E3C;
    padding: 10px;
    margin: 100;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    line-height: 35px;
}

.container {
    /*display flex is causing the card grid    */
    display: flex;
    /*This line causes the cards to wrap to new rows    */
    flex-wrap: wrap;
}

.card {
  margin: 1.5rem;
  background: white;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, .1);
  border-radius: 13px;
  overflow: hidden;
  transition: all .2s linear;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #332E3C;
  min-width: 250px;
  max-width: 1000px;
  min-height: 200px;
  text-transform: capitalize;

    
}


@media screen and (min-width: 500px) {
  .card {
    flex-shrink: 1;
      
      
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex:1 1 calc(33% - 2rem);
      
  }
}

@media screen and (max-width: 600px) {
   .searchform{
        width: 80%;
  }
    
    
    

