.cinnaBody {
    background-color: #EFE8E3;
    text-align: center;
    padding: 20px;
}

.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 20px 20px;
    max-width: 500px;
}

.searchform {
    width: 400px;
    height: 35px;
    border-color: #332E3C;
    border-width: 2px;
    border-radius: 60px;
    padding: 10px 30px;
    background-color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color: #332E3C;
    text-align: center;
    font-size: 20px;
}

.search {
    font-family: 'Open Sans', sans-serif;
    padding: 50px 20px 20px 20px;
}

.resultsarea{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

.searchbutton {
    border-radius: 60px;
    border-color: #332E3C;
    border-width: 0px;
    padding: 20px 60px 20px 60px;
    background-color: #EFE8E3;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    background-color: #332E3C;

}


h1 {
    text-align: center;
    padding: 1.5rem 2.5rem;
    background-image: linear-gradient(100deg, #B89685 10%, #EFE8E3 130%);
    margin: 0 0 2rem 0;
    font-size: 18;
    color: #332E3C;
    text-transform: capitalize;

}

img {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
}


p {
    font-family: 'Open Sans', sans-serif;
    color: #332E3C;
    font-size: 22px;
    padding: 0 2.5rem 2.5rem;
    margin: 0;
}

.container {
    /*display flex allows for the card grid    */
    display: flex;
    /*Flex wrap causes the cards to wrap to new rows based on screen size */
    flex-wrap: wrap;
}

.card {
    margin: 1.5rem;
    background: white;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, .1);
    border-radius: 13px;
    overflow: hidden;
    transition: all .2s linear;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #332E3C;
    min-height: 200px;
    min-width: 250;
}

/*Media rule for mobile device shrinks cards to 1 column*/
@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

/*Media rule for desktop allows cards to form more columns*/
@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

@media screen and (max-width: 600px) {
   .searchform{
        width: 80%;
  }
}